body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}
button{
    background-color: grey;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.travel-tip{
    padding: 10px;
    background-color: lightsalmon;
    display: grid;
    grid-template-columns:  40% 60% ;
    grid-template-rows: 20% 20% 60%;
    height: 80vh;
}

.title{
    grid-column: 1;
    grid-row: 1;
}
form{
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}
.location-title{
    grid-column: 1 span 1;
    grid-row: 2;
    font-weight: bold;
    align-self: center;
}
.location-info{
    font-weight: 400;
}
.btn-copy{
    grid-column: 2;
    grid-row: 2;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: end;
}
.weather-table-container{
    grid-column: 1;
    grid-row: 3;
}
.weather{
    background-color: wheat;
    height: 50%;
    width: 95%;
    text-align: center;
}
.location-table{
    background-color: rgb(70, 70, 174);
    height: 50%;
    width: 95%;
    text-align: center;
}
.map{
    grid-column: 2;
    grid-row: 3;
    
}

table{
    border-collapse: collapse;
}

td{
    width: 100%;
    border: 1px solid white;
}